# ─── Ambiente Virtual Python ──────────────────────────────────────────────────
venv/
.venv/
env/

# ─── Dados Brutos e Processados (vídeos e matrizes .npy pesadas) ──────────────
data/processed_features/

# ─── Dados Brutos e Processados (vídeos e matrizes .npy pesadas) ──────────────
augmented_features/
*.zip

# ─── Arquivos Python gerados automaticamente ──────────────────────────────────
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg

# ─── IDEs ──────────────────────────────────────────────────────────────────────
.vscode/
.idea/
*.swp
*.swo
# ─── Logs e Temporários ─────────────────────────────────────────────────────--
*.log
# ─── Configurações Locais Sensíveis ──────────────────────────────────────────
.env
*.secret
*.local.*

meus_vini/
meus_anaclara/
meus_videos/
meus_videos_holdout/
meus_features/
meus_features_holdout/
